'scopeName': 'source.macaulay2'
'name': 'Macaulay2'
'fileTypes': [
  'm2'
]
'patterns': [
  {'include': '#keywords'}
  {'include': '#comment'}
  {'include': '#strings'}
  {'include': '#fields'}
  {'include': '#math'}
  {'include': '#autogen'}
]
'repository':
  'keywords':
    'patterns': [
      {
        'match': '''(?x)(\\b|^)(and|break|catch|continue|do|else|for|from|
        global|if|in|list|local|new|not|of|or|return|shield|SPACE|step|
        symbol|then|threadVariable|throw|time|timing|to|try|when|while)\\b
        '''
        'name': 'support.function.builtin.m2'
      }
    ]
  'comment':
    'patterns': [
      {
        'begin': '--'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.m2'
        'end': '$'
        'name': 'comment.line.m2'
      }
    ]
  'strings':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.m2'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.m2'
        'name': 'string.quoted.double.m2'
      }
    ]
  'math':
    'patterns': [
      {
        'match': '\\+'
        'name': 'keyword.operator.arithmetic.m2'
      }
      {
        'match': '(?<=\\s)\\d+'
        'name': 'constant.numeric.integer.m2'
      }
    ]
  'fields':
    'patterns': [
      {
        'match': '(ZZ|QQ)(\\/\\d+)?'
        'name': 'entity.name.type.m2'
      }
    ]
  'autogen':
    'patterns': [
      {
        'match': '''(?x)(\\b|^)
        (AbsoluteLinks|
        Acknowledgements|
        Adjacent|
        AffineVariety|
        AfterEval|
        AfterNoPrint|
        AfterPrint|
        Algorithm|
        Alignment|
        Array|
        Ascending|
        AssociativeExpression|
        Authors|
        AuxiliaryFiles|
        Bag|
        Bareiss|
        BaseFunction|
        BaseRow|
        BasicList|
        BasisElementLimit|
        Bayer|
        BeforePrint|
        BesselJ|
        BesselY|
        BettiTally|
        Binary|
        BinaryOperation|
        Binomial|
        BLAS|
        Boolean|
        Boxes|
        CacheExampleOutput|
        CacheFunction|
        CacheTable|
        CallLimit|
        Caveat|
        CC|
        Center|
        Certification|
        ChainComplex|
        ChainComplexMap|
        ChangeMatrix|
        CheckDocumentation|
        ClosestFit|
        CodimensionLimit|
        CoefficientRing|
        Cofactor|
        CoherentSheaf|
        Command|
        CompiledFunction|
        CompiledFunctionBody|
        CompiledFunctionClosure|
        Complement|
        CompleteIntersection|
        ComplexField|
        Configuration|
        Consequences|
        Constant|
        Core|
        CurrentVersion|
        Database|
        Date|
        DebuggingMode|
        Decompose|
        Degree|
        DegreeLift|
        DegreeLimit|
        DegreeMap|
        DegreeOrder|
        DegreeRank|
        Degrees|
        Dense|
        Density|
        Descending|
        Descent|
        Description|
        Dictionary|
        Dispatch|
        Divide|
        DivideConquer|
        DocumentTag|
        Down|
        Eliminate|
        Email|
        Encapsulate|
        EncapsulateDirectory|
        End|
        Engine|
        EngineRing|
        Equation|
        EulerConstant|
        EXAMPLE|
        Exclude|
        Expression|
        Ext|
        Fano|
        File|
        FileName|
        FilePosition|
        FindOne|
        First|
        FlatMonoid|
        Flexible|
        FollowLinks|
        ForestNode|
        Format|
        FractionField|
        Function|
        FunctionApplication|
        FunctionBody|
        FunctionClosure|
        GaloisField|
        Gamma|
        GBDegrees|
        GeneralOrderedMonoid|
        GenerateAssertions|
        Generic|
        GF|
        GLex|
        Global|
        GlobalAssignHook|
        GlobalDictionary|
        GlobalReleaseHook|
        GradedModule|
        GradedModuleMap|
        Grassmannian|
        GRevLex|
        GroebnerBasis|
        GroebnerBasisOptions|
        GroupLex|
        GroupRevLex|
        HardDegreeLimit|
        HashTable|
        HeaderType|
        Heading|
        Headline|
        Heft|
        Height|
        Hermitian|
        HH|
        Hilbert|
        Holder|
        Hom|
        HomePage|
        Homogeneous|
        HorizontalSpace|
        Ideal|
        IgnoreExampleErrors|
        ImmutableType|
        IndeterminateNumber|
        IndexedVariable|
        IndexedVariableTable|
        InexactField|
        InexactFieldFamily|
        InexactNumber|
        InfiniteNumber|
        InfoDirSection|
        Inhomogeneous|
        Inputs|
        InstallPrefix|
        Intersection|
        InverseMethod|
        Inverses|
        Iterate|
        Join|
        KeepZeroes|
        Key|
        Keyword|
        LAPACK|
        Layout|
        Left|
        LengthLimit|
        Lex|
        Limit|
        Linear|
        LinearAlgebra|
        List|
        LoadDocumentation|
        Local|
        LocalDictionary|
        LongPolynomial|
        LowerBound|
        LUdecomposition|
        MakeDocumentation|
        MakeInfo|
        MakeLinks|
        Manipulator|
        Matrix|
        MatrixExpression|
        MaximalRank|
        MaxReductionCount|
        MethodFunction|
        MethodFunctionWithOptions|
        MinimalGenerators|
        MinimalMatrix|
        Minimize|
        Minus|
        Module|
        ModuleMap|
        Monoid|
        MonoidElement|
        Monomial|
        MonomialIdeal|
        MonomialOrder|
        Monomials|
        MonomialSize|
        MPFR|
        MPIR|
        MutableHashTable|
        MutableList|
        MutableMatrix|
        Name|
        NCLex|
        Net|
        NetFile|
        NewFromMethod|
        NewMethod|
        NewOfFromMethod|
        NewOfMethod|
        NonAssociativeProduct|
        NoPrint|
        Nothing|
        Number|
        OneExpression|
        OO|
        Option|
        Options|
        OptionTable|
        Order|
        OrderedMonoid|
        OutputDictionary|
        Outputs|
        Package|
        PackageDictionary|
        PackageExports|
        PackageImports|
        PackagePrefix|
        PairLimit|
        PairsRemaining|
        Parenthesize|
        Partition|
        Pfaffians|
        PolynomialRing|
        Position|
        Postfix|
        Power|
        Prefix|
        PrimaryTag|
        PrimitiveElement|
        Print|
        Product|
        ProductOrder|
        Proj|
        Projective|
        ProjectiveHilbertPolynomial|
        ProjectiveVariety|
        Pseudocode|
        PushforwardComputation|
        QQ|
        Quotient|
        QuotientRing|
        RealField|
        Reduce|
        Reload|
        RemakeAllDocumentation|
        Repository|
        RerunExamples|
        Resolution|
        Result|
        Reverse|
        RevLex|
        Right|
        Ring|
        RingElement|
        RingFamily|
        RingMap|
        RowExpression|
        RR|
        RunExamples|
        Schubert|
        ScriptedFunctor|
        SeeAlso|
        SelfInitializingType|
        SeparateExec|
        Sequence|
        Set|
        SheafOfRings|
        SizeLimit|
        SkewCommutative|
        Sort|
        SortStrategy|
        SourceCode|
        SourceRing|
        SPACE|
        SparseMonomialVectorExpression|
        SparseVectorExpression|
        Spec|
        Standard|
        StopBeforeComputation|
        StopWithMinimalGenerators|
        Strategy|
        String|
        Subnodes|
        SubringLimit|
        Subscript|
        Sugarless|
        Sum|
        SumOfTwists|
        Superscript|
        SVD|
        Symbol|
        SYNOPSIS|
        Syzygies|
        SyzygyLimit|
        SyzygyMatrix|
        SyzygyRows|
        Table|
        Tally|
        Task|
        TEST|
        TeXmacs|
        Thing|
        Time|
        Tor|
        Toric|
        TotalPairs|
        TreeNode|
        Type|
        TypicalValue|
        Undo|
        Unmixed|
        Up|
        UpdateOnly|
        UpperTriangular|
        URL|
        Usage|
        UseHilbertFunction|
        UserMode|
        UseSyzygies|
        Variable|
        VariableBaseName|
        Variables|
        Variety|
        Vector|
        Verbose|
        Verify|
        Version|
        VerticalList|
        VerticalSpace|
        VirtualTally|
        VisibleList|
        Weights|
        WeylAlgebra|
        Wikipedia|
        Wrap|
        WrapperType|
        ZeroExpression|
        ZZ)\\b
        '''
        'name': 'entity.name.class.m2'
      }
      {
        'match': '''(?x)(\\b|^)
        (abs|
        accumulate|
        acos|
        acosh|
        acot|
        addCancelTask|
        addDependencyTask|
        addEndFunction|
        addHook|
        addStartFunction|
        addStartTask|
        adjoint|
        agm|
        alarm|
        all|
        allowableThreads|
        ambient|
        ancestor|
        ancestors|
        and|
        annihilator|
        any|
        append|
        applicationDirectory|
        applicationDirectorySuffix|
        apply|
        applyKeys|
        applyPairs|
        applyTable|
        applyValues|
        apropos|
        argument|
        ascii|
        asin|
        asinh|
        assert|
        associatedPrimes|
        atan|
        atEndOfFile|
        autoload|
        backtrace|
        backupFileRegexp|
        baseFilename|
        baseName|
        baseRings|
        basis|
        beginDocumentation|
        benchmark|
        betti|
        between|
        binomial|
        borel|
        break|
        cache|
        cacheValue|
        cancelTask|
        capture|
        catch|
        ceiling|
        centerString|
        chainComplex|
        char|
        characters|
        check|
        class|
        clean|
        clearAll|
        clearEcho|
        clearOutput|
        close|
        closeIn|
        closeOut|
        code|
        codim|
        coefficient|
        coefficientRing|
        coefficients|
        cohomology|
        coimage|
        cokernel|
        collectGarbage|
        columnAdd|
        columnate|
        columnMult|
        columnPermute|
        columnSwap|
        combine|
        commandInterpreter|
        commandLine|
        commonest|
        commonRing|
        comodule|
        compactMatrixForm|
        complement|
        complete|
        components|
        compositions|
        compress|
        concatenate|
        cone|
        conjugate|
        connectionCount|
        content|
        continue|
        contract|
        copy|
        copyDirectory|
        copyFile|
        copyright|
        cos|
        cosh|
        cot|
        cotangentSheaf|
        coth|
        cover|
        coverMap|
        cpuTime|
        createTask|
        csc|
        csch|
        current|
        currentDirectory|
        currentFileDirectory|
        currentFileName|
        currentLayout|
        currentLineNumber|
        currentPackage|
        currentString|
        currentTime|
        dd|
        debug|
        debugError|
        debugging|
        debuggingMode|
        debugLevel|
        decompose|
        deepSplice|
        default|
        defaultPrecision|
        degree|
        degreeLength|
        degrees|
        degreesMonoid|
        degreesRing|
        delete|
        demark|
        denominator|
        depth|
        describe|
        determinant|
        diagonalMatrix|
        dictionary|
        dictionaryPath|
        diff|
        difference|
        differentiation|
        dim|
        directSum|
        disassemble|
        dismiss|
        divideByVariable|
        do|
        document|
        drop|
        dual|
        dumpdata|
        eagonNorthcott|
        echoOff|
        echoOn|
        edit|
        eigenvalues|
        eigenvectors|
        eint|
        elements|
        else|
        encapDirectory|
        end|
        endl|
        endPackage|
        engine|
        engineDebugLevel|
        entries|
        environment|
        epkg|
        erase|
        erf|
        erfc|
        error|
        errorDepth|
        euler|
        eulers|
        even|
        examples|
        exec|
        exit|
        exp|
        exponents|
        export|
        exportMutable|
        expression|
        extend|
        exteriorPower|
        factor|
        false|
        fileDictionaries|
        fileExecutable|
        fileExists|
        fileExitHooks|
        fileLength|
        fileMode|
        fileReadable|
        fileTime|
        fileWritable|
        fillMatrix|
        findFiles|
        findHeft|
        findSynonyms|
        first|
        firstkey|
        fittingIdeal|
        flagLookup|
        flatten|
        flattenRing|
        flip|
        floor|
        flush|
        fold|
        for|
        forceGB|
        fork|
        format|
        frac|
        fraction|
        frames|
        frobby|
        from|
        fromDual|
        functionBody|
        gb|
        gbRemove|
        gbSnapshot|
        gbTrace|
        gcd|
        gcdCoefficients|
        genera|
        generateAssertions|
        generator|
        generators|
        genericMatrix|
        genericSkewMatrix|
        genericSymmetricMatrix|
        genus|
        get|
        getc|
        getChangeMatrix|
        getenv|
        getGlobalSymbol|
        getNetFile|
        getNonUnit|
        getPackage|
        getSymbol|
        getWWW|
        gfan|
        global|
        globalAssign|
        globalAssignFunction|
        globalAssignment|
        globalAssignmentHooks|
        globalReleaseFunction|
        gradedModule|
        gradedModuleMap|
        graphIdeal|
        graphRing|
        groebnerBasis|
        groupID|
        handleInterrupts|
        hash|
        hashing|
        hashTable|
        heft|
        height|
        help|
        hh|
        hilbertFunction|
        hilbertPolynomial|
        hilbertSeries|
        hold|
        homeDirectory|
        homogenize|
        homology|
        homomorphism|
        horizontalJoin|
        html|
        httpHeaders|
        hypertext|
        id|
        ideal|
        ideals|
        identity|
        if|
        ii|
        image|
        imaginaryPart|
        in|
        incomparable|
        independentSets|
        indeterminate|
        index|
        indexComponents|
        indices|
        inducedMap|
        inducesWellDefinedMap|
        infinity|
        info|
        infoHelp|
        inheritance|
        input|
        insert|
        installAssignmentMethod|
        installHilbertFunction|
        installMethod|
        installPackage|
        instance|
        instances|
        integrate|
        interpreterDepth|
        intersect|
        inverse|
        inversePermutation|
        irreducibleCharacteristicSeries|
        isAffineRing|
        isANumber|
        isBorel|
        isCanceled|
        isCommutative|
        isConstant|
        isDirectory|
        isDirectSum|
        isField|
        isFinite|
        isFreeModule|
        isGlobalSymbol|
        isHomogeneous|
        isIdeal|
        isInfinite|
        isInjective|
        isInputFile|
        isIsomorphism|
        isListener|
        isModule|
        isMonomialIdeal|
        isOpen|
        isOutputFile|
        isPolynomialRing|
        isPrime|
        isPrimitive|
        isPseudoprime|
        isQuotientModule|
        isQuotientOf|
        isQuotientRing|
        isReady|
        isReal|
        isRegularFile|
        isRing|
        isSkewCommutative|
        isSorted|
        isSquareFree|
        isSubmodule|
        isSubquotient|
        isSubset|
        isSurjective|
        isTable|
        isUnit|
        isWellDefined|
        jacobian|
        join|
        kernel|
        keys|
        kill|
        koszul|
        last|
        lastMatch|
        lcm|
        leadCoefficient|
        leadComponent|
        leadMonomial|
        leadTerm|
        length|
        lift|
        liftable|
        limitFiles|
        limitProcesses|
        lineNumber|
        lines|
        linkFile|
        list|
        listForm|
        listLocalSymbols|
        listSymbols|
        listUserSymbols|
        lngamma|
        load|
        loaddata|
        loadDepth|
        loadedFiles|
        loadedPackages|
        loadPackage|
        local|
        localDictionaries|
        locate|
        log|
        lookup|
        lookupCount|
        lrslib|
        makeDirectory|
        makeDocumentTag|
        makePackageIndex|
        map|
        markedGB|
        match|
        mathML|
        matrices|
        matrix|
        max|
        maxAllowableThreads|
        maxExponent|
        maxPosition|
        member|
        memoize|
        merge|
        mergePairs|
        method|
        methodOptions|
        methods|
        min|
        minExponent|
        mingens|
        mingle|
        minimalPresentation|
        minimalPresentationMap|
        minimalPresentationMapInv|
        minimalPrimes|
        minimizeFilename|
        minors|
        minPosition|
        minus|
        mkdir|
        mod|
        module|
        modules|
        modulo|
        monoid|
        monomialCurveIdeal|
        monomialIdeal|
        monomials|
        monomialSubideal|
        moveFile|
        mpack|
        multidegree|
        mutable|
        mutableIdentity|
        mutableMatrix|
        nauty|
        needs|
        needsPackage|
        net|
        netList|
        new|
        newClass|
        newCoordinateSystem|
        newline|
        newNetFile|
        newPackage|
        newRing|
        nextkey|
        norm|
        normaliz|
        not|
        notify|
        notImplemented|
        null|
        nullaryMethods|
        nullhomotopy|
        number|
        numColumns|
        numerator|
        numeric|
        numgens|
        numRows|
        odd|
        of|
        ofClass|
        on|
        oo|
        ooo|
        oooo|
        openDatabase|
        openDatabaseOut|
        openFiles|
        openIn|
        openInOut|
        openListener|
        openOut|
        openOutAppend|
        operatorAttributes|
        operators|
        options|
        or|
        order|
        override|
        pack|
        package|
        packages|
        pad|
        pager|
        pairs|
        parent|
        pari|
        part|
        partition|
        partitions|
        parts|
        path|
        pdim|
        peek|
        permanents|
        permutations|
        pfaffians|
        pi|
        pivots|
        plus|
        poincare|
        poincareN|
        position|
        positions|
        power|
        powermod|
        powers|
        precision|
        prefixDirectory|
        prefixPath|
        preimage|
        prepend|
        presentation|
        pretty|
        print|
        printingAccuracy|
        printingLeadLimit|
        printingPrecision|
        printingSeparator|
        printingTimeLimit|
        printingTrailLimit|
        printString|
        printWidth|
        processID|
        product|
        profile|
        profileSummary|
        projectiveHilbertPolynomial|
        promote|
        protect|
        prune|
        pruningMap|
        pseudocode|
        pseudoRemainder|
        pushForward|
        quit|
        quotient|
        quotientRemainder|
        radical|
        random|
        randomMutableMatrix|
        rank|
        read|
        readDirectory|
        readlink|
        realPart|
        realpath|
        recursionDepth|
        recursionLimit|
        reduceHilbert|
        regex|
        registerFinalizer|
        regularity|
        relations|
        relativizeFilename|
        remainder|
        remove|
        removeDirectory|
        removeFile|
        removeHook|
        removeLowestDimension|
        reorganize|
        replace|
        reshape|
        resolution|
        restart|
        return|
        returnCode|
        reverse|
        ring|
        rings|
        rootPath|
        rootURI|
        rotate|
        round|
        rowAdd|
        rowMult|
        rowPermute|
        rowSwap|
        rsort|
        run|
        runHooks|
        runLengthEncode|
        same|
        saturate|
        scan|
        scanKeys|
        scanLines|
        scanPairs|
        scanValues|
        schedule|
        schreyerOrder|
        scriptCommandLine|
        searchPath|
        sec|
        sech|
        seeParsing|
        select|
        selectInSubring|
        selectVariables|
        separate|
        separateRegexp|
        sequence|
        set|
        setEcho|
        setGroupID|
        setIOExclusive|
        setIOSynchronized|
        setIOUnSynchronized|
        setRandomSeed|
        setup|
        setupEmacs|
        sheaf|
        sheafExt|
        sheafHom|
        shield|
        show|
        showClassStructure|
        showHtml|
        showStructure|
        showTex|
        showUserStructure|
        sin|
        singularLocus|
        sinh|
        size|
        sleep|
        smithNormalForm|
        solve|
        someTerms|
        sort|
        sortColumns|
        source|
        splice|
        sqrt|
        stack|
        standardForm|
        standardPairs|
        stashValue|
        status|
        stderr|
        stdio|
        step|
        stopIfError|
        sublists|
        submatrix|
        subquotient|
        subscript|
        subsets|
        substitute|
        substring|
        subtable|
        sum|
        super|
        superscript|
        support|
        switch|
        symbol|
        symlinkDirectory|
        symlinkFile|
        symmetricAlgebra|
        symmetricPower|
        synonym|
        syz|
        syzygyScheme|
        table|
        take|
        tally|
        tan|
        tangentSheaf|
        tanh|
        target|
        taskResult|
        temporaryFileName|
        tensor|
        tensorAssociativity|
        terms|
        tex|
        texMath|
        then|
        threadVariable|
        throw|
        time|
        times|
        timing|
        to|
        toAbsolutePath|
        toCC|
        toDual|
        toExternalString|
        toField|
        toList|
        toLower|
        topCoefficients|
        topComponents|
        topLevelMode|
        toRR|
        toSequence|
        toString|
        toUpper|
        trace|
        transpose|
        trim|
        true|
        truncate|
        truncateOutput|
        try|
        tutorial|
        typicalValues|
        ultimate|
        unbag|
        uncurry|
        undocumented|
        uniform|
        uninstallPackage|
        unique|
        unsequence|
        unstack|
        use|
        userSymbols|
        value|
        values|
        variables|
        varieties|
        variety|
        vars|
        vector|
        version|
        viewHelp|
        wait|
        wedgeProduct|
        weightRange|
        when|
        while|
        width|
        wrap|
        xor|
        youngest|
        zero|
        zeta)\\b
        '''
        'name': 'entity.name.function.m2'
      }
    ]
